<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- General menu -->
    <menuitem
        id="dnd_menu"
        name="Dungeons And Dragons" />

    <!-- Items -->
    <menuitem
        id="items_menu"
        name="Items"
        action="item_action"
        parent="dnd_menu" />

    <!-- Spells -->
    <menuitem
        id="spells_menu"
        name="Spells"
        action="spell_action"
        parent="dnd_menu" />

    <!-- Characters -->
    <menuitem
        id="characters_menu"
        name="Characters"
        parent="dnd_menu" />

    <menuitem
        id="character_menu"
        name="Characters"
        action="character_action"
        parent="characters_menu" />

    <menuitem
        id="spell_slot_menu"
        name="Spell slots"
        action="spell_slot_action"
        parent="characters_menu" />

    <menuitem
        id="c_class_menu"
        name="Classes"
        action="c_class_action"
        parent="characters_menu" />

    <menuitem
        id="characteristic_menu"
        name="Characteristics"
        action="characteristic_action"
        parent="characters_menu" />

    <!-- Languages -->
    <menuitem
        id="language_menu"
        name="Languages"
        action="language_action"
        parent="dnd_menu" />

    <!-- Races -->
    <menuitem
        id="race_menu"
        name="Races"
        action="race_action"
        parent="dnd_menu" />
</odoo>